<html>
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/bootstrap.min.css">

<script>

const logout = async ()=>{

sessionStorage.removeItem("username");

window.location="/";
};

let checkSession=()=>{

let curr_user=
sessionStorage.getItem("username");

if(curr_user && curr_user!==""){

document.getElementById(
"loginlogout"
).innerHTML=

'<span style="margin-right:15px;font-weight:bold;">'
+curr_user+
'</span>'+

'<a onclick="logout()" href="#">Logout</a>';

let buttons=
document.querySelectorAll(
'[id^="reviewBtn"]'
);

buttons.forEach(btn=>{
btn.style.display="block";
});

}
else{

document.getElementById(
"loginlogout"
).innerHTML=

'<a href="/login">Login</a> '+

'<a href="/register">Register</a>';

}

}

</script>

</head>


<body onload="checkSession()">

<nav class="navbar navbar-expand-lg navbar-light"
style="background-color:darkturquoise;height:1in;">

<div class="container-fluid">

<h2 style="padding-right:5%;">
Dealerships
</h2>

<button
class="navbar-toggler"
type="button"
data-bs-toggle="collapse"
data-bs-target="#navbarText">

<span class="navbar-toggler-icon">
</span>

</button>


<div class="collapse navbar-collapse" id="navbarText">

<ul class="navbar-nav me-auto">

<li class="nav-item">

<a class="nav-link active">
Home
</a>

</li>


<li class="nav-item">

<a class="nav-link"
href="/about">

About Us

</a>

</li>


<li class="nav-item">

<a class="nav-link"
href="/contact">

Contact Us

</a>

</li>

</ul>


<span class="navbar-text">

<div id="loginlogout">

</div>

</span>


</div>

</div>

</nav>


<div class="container mt-4">


{% if dealers %}

<h2>
Dealer List
</h2>

{% for dealer in dealers %}

<div class="card p-3 mb-3">

<h4>

{{dealer.full_name}}

</h4>

<p>

City:
{{dealer.city}}

</p>

<p>

State:
{{dealer.state}}

</p>

<p>

ID:
{{dealer.id}}

</p>

<div style="display:flex;gap:10px;">

<a
class="btn btn-primary"
href="/djangoapp/dealer/{{dealer.id}}">

View Details

</a>

<button
id="reviewBtn{{dealer.id}}"
style="display:none"
class="btn btn-success">

Review Dealer

</button>

</div>

</div>

{% endfor %}


{% else %}


<div class="card"
style="width:50%;
margin-top:50px;
margin:auto;">

<img
src="/static/car_dealership.jpg"
class="card-img-top">


<div class="banner">

<h3>

Welcome to our Dealerships!

</h3>

<a
href="/djangoapp/dealers"
class="btn"
style="background-color:aqua;
margin:10px;">

View Dealerships

</a>

</div>

</div>


{% endif %}

</div>

</body>
</html>